@inherits MainLayoutBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="nav-link text-dark" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <div class="container d-flex justify-content-end">                                
                <AuthorizeView>
                    <Authorized>
                        <div>@Email</div>
                        <a class="nav-link d-none d-lg-inline" href="logout">
                            <span class="oi oi-account-logout" aria-hidden="true"></span>
                            <span class="ms-2">Logout</span>
                        </a>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView>
                    <NotAuthorized>
                        <div class="d-flex align-items-center">
                            <LoginComponent />
                            <a class="nav-link d-flex ms-3" href="register">
                                <span class="oi oi-person" aria-hidden="true"></span>
                                <span class="ms-2 text-nowrap">Create account</span>
                            </a>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
                <AuthorizeView>
                    <Authorized>
                        <a class="nav-link d-lg-none d-block" href="logout">
                            <span class="oi oi-account-logout" aria-hidden="true"></span>
                            <span class="ms-2">Logout</span>
                        </a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </nav>

        <article class="content px-4">
            <NotificationContainer />
            @Body
        </article>
    </main>
</div>