@page "/create-word"
@inherits CreateWordBase

<div class="container">
    <h3>Create Word</h3>

    <form @onsubmit="CreateNewWord" class="mt-3">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="wordText">Word</label>
                    <input id="wordText" class="form-control" type="text" @bind="NewWord.Text" required />
                </div>
            </div>
        </div>

        <label>Translations</label>
        @for (int i = 0; i < NewWord.Translations.Count; i++)
        {
            int index = i;
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="input-group">
                        <input class="form-control" type="text" @bind="NewWord.Translations[index].Text" required />
                        @if (index != 0)
                        {
                            <button class="btn btn-danger input-group-append" @onclick="() => RemoveTranslation(index)">
                                <span class="oi oi-delete"></span>
                            </button>
                        }
                    </div>
                </div>
            </div>
        }

        <div class="mb-3">
            <button type="button" class="btn btn-primary btn-sm" @onclick="AddTranslation">+</button>
        </div>

        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <button type="submit" class="btn btn-success me-2">Save</button>
                <a class="btn btn-secondary" href="/words">Cancel</a>
            </div>
        </div>

    </form>
</div>