@page "/update-word/{WordId:int}"
@attribute [Authorize]
@inherits UpdateWordBase

<PageTitle>Edit Word</PageTitle>

<div class="container">
    <h3>Create Word</h3>

    @if (IsStatusMessageSet)
    {
        var statusMessageClass = OperationSucceeded ? "alert alert-success" : "alert alert-danger";
        <div class="@statusMessageClass col-md-6" role="alert">
            @StatusMessage
        </div>
    }

    @if (Loading)
    {
        <table>
            <tr>
                <td colspan="4">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border ms-3" role="status" style="width: 1.5rem; height: 1.5rem;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    }
    else
    {
        <WordEditForm Model="Model"
                      OnValidSubmit="UpdateWordAsync"
                      OnAddTranslation="AddTranslation"
                      OnRemoveTranslation="RemoveTranslation" /> 
    }
</div>