@page "/words"
@inherits WordsBase

<div class="container">
    <h3>Words</h3>

    <div class="row justify-content-between">
        <div class="col-md-4">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Filter..."
                @bind="Filter"
                @bind:event="oninput">
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <span>
                <label for="sortType">Sort by:</label>
                <select id="sortType" class="form-control-inline" @oninput="e => ChangeSortType(e.Value.ToString())">
                    <option value="Alphabetical" selected>Alphabetical</option>
                    <option value="CreatedUtc">CreatedUtc</option>
                </select>
            </span>
            &nbsp;
            <span>
                <input type="checkbox" @onchange="ChangeSortOrder"> Descending
            </span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Word</th>
                    <th scope="col">Translations</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (Loading)
                {
                    <tr>
                        <td colspan="4">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border ms-3" role="status" style="width: 1.5rem; height: 1.5rem;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var word in PagedWords)
                    {
                        <tr>
                            <td>@word.Text</td>
                            <td>@word.TranslationsString</td>
                            <td><a href=""><span class="oi oi-pencil"></span></a></td>
                            <td><a href=""><span class="oi oi-delete"></span></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    @if (!Loading)
    {
        <style>
            .pagination > .page-item > .page-link {
                cursor: pointer;
            }
        </style>

        <Pagination TItem="NativeWordViewModel"
                    CurrentPage="CurrentPage"
                    PageSize="PageSize"
                    TotalItems="FilteredWords.Count"
                    PageSizes="PageSizes"
                    OnPageChanged="OnChangePage"
                    OnPageSizeChanged="OnChangePageSize"></Pagination>
    }
</div>