@page "/words"
@attribute [Authorize]
@inherits WordsBase

<PageTitle>Words</PageTitle>

<div class="container">
    <div class="d-flex flex-row justify-content-between mb-3">
        <h3>Words</h3>
        <a class="btn btn-primary" href="/create-or-update-word">Create Word</a>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="form-group mb-3 mb-lg-0">
                <input class="form-control" type="text" placeholder="Filter..."
                       @bind="Filter"
                       @bind:event="oninput"
                       required autocomplete="off" spellcheck="false">
            </div>
        </div>

        <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-md-start justify-content-lg-end sorting-control">
            <label for="sortType" class="me-2">Sort by:</label>
            <select id="sortType" class="form-control-inline me-2" @oninput="e => SetSortBy(e.Value?.ToString())">
                <option value="Alphabetical" selected>Alphabetical</option>
                <option value="CreatedUtc">Created</option>
                <option value="UpdatedUtc">Updated</option>
            </select>
            <button @onclick="ToggleSortOrder"
                    class="btn btn-link p-0">
                <i class="@(CurrentSortOrder == SortOrder.Ascending ? "oi oi-sort-ascending" : "oi oi-sort-descending")"></i>
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Word</th>
                    <th scope="col">Translations</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (Loading)
                {
                    <tr>
                        <td colspan="4">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border ms-3" role="status" style="width: 1.5rem; height: 1.5rem;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var word in PagedWords)
                    {
                        var updateLink = $"/create-or-update-word/{word.Id}";
                        <tr>
                            <td>@word.Text</td>
                            <td>@word.TranslationsString</td>
                            <td><a href="@updateLink"><span class="oi oi-pencil"></span></a></td>
                            <td><i class="bi bi-trash text-danger" style="cursor: pointer;" @onclick="()=> ConfirmDeleteWordAsync(word.Id)"></i></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <DeleteConfirmation IsModalVisible="ConfirmDeleteVisible"
                        CloseModal="EventCallback.Factory.Create(this, CloseConfirmDelete)"
                        OnConfirm="EventCallback.Factory.Create(this, async () => await DeleteWordAsync())" />

    @if (!Loading)
    {
        <Pagination CurrentPage="CurrentPage"
                    PageSize="PageSize"
                    TotalItems="FilteredWords.Count"
                    OnPageChanged="OnChangePage"
                    OnPageSizeChanged="OnChangePageSize"></Pagination>
    }
</div>