@page "/error"

<div class="row" style="height: 85vh">
    <div class="my-auto text-center">
        <h1 class="display-1">Oops...</h1>
        <p class="lead">Something went wrong, please try again later.</p>
        <a href="/" class="link-primary" style="text-decoration: none">Back to home</a>
    </div>
</div>