@page "/words"
@inherits WordsBase

<h3>Words</h3>

<div class="container-fluid">
    <div class="row">
        @for (int i = 0; i < 7; i++)
        {
            <div class="col-xl-4 col-lg-6 mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <a href="">
                                Native word
                            </a>
                            <p class="mb-1">Foreign meanings</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
