@page "/words"
@inherits WordsBase

<h3>Words</h3>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Word</th>
            <th scope="col">Translations</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var word in Model)
        {
            <tr>
                <td><a href="">@word.Text</a></td>
                <td>@word.TranslationsString</td>
                <td><a href=""><span class="oi oi-pencil"></span></a></td>
                <td><a href=""><span class="oi oi-delete"></span></a></td>
            </tr>
        }
    </tbody>
</table>