@page "/gameplay"
@attribute [Authorize]
@inherits GameplayBase

<PageTitle>Game</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="mt-3 text-center">GamePlay</h3>

            @if (Words is null)
            {
                <div class="d-flex justify-content-center mt-5">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            else
            {
                <div class="card mt-5">
                    <div class="card-body">
                        <form @onsubmit="OnSubmit">
                            <div class="mb-3">
                                <label for="translation" class="form-label">@ActualWord.Text</label>
                                <div class="input-group">
                                    <input id="translation" class="form-control @(IsSubmitted ? (IsCorrectAnswer ? "border-success" : "border-danger") : "")" @bind="UserInput" required style="width: 200px;" autocomplete="off" spellcheck="false" />

                                    @if (IsSubmitted)
                                    {
                                        @if (IsCorrectAnswer)
                                        {
                                            <span class="input-group-text bg-success text-white">
                                                <i class="bi bi-check-lg"></i>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="input-group-text bg-danger text-white">
                                                <i class="bi bi-x-lg"></i>
                                            </span>
                                        }
                                    }
                                </div>

                                @if (IsSubmitted && IsCorrectAnswer)
                                {
                                    <p class="mt-3" style="color: green;">Correct answer</p>
                                    if (ActualWord.Translations.Count > 1)
                                    {
                                        <p>Synonyms:</p>
                                        foreach (var translation in ActualWord.Translations.Where(translation => !translation.Text.Equals(UserInput, StringComparison.OrdinalIgnoreCase)))
                                        {
                                            <span class="badge fs-6 bg-light text-dark m-1">@translation.Text</span>
                                        }
                                    }
                                }

                                @if (IsSubmitted && !IsCorrectAnswer)
                                {
                                    <p class="mt-3"><span style="color: red;">Wrong answer.</span> The correct solutions are:</p>
                                    foreach (var translation in ActualWord.Translations)
                                    {
                                        <span class="badge fs-6 bg-light text-dark m-1">@translation.Text</span>
                                    }
                                }
                            </div>

                            @if (!IsSubmitted)
                            {
                                <button type="submit" class="btn btn-primary mt-1 mb-1 me-1">Submit</button>
                                <button type="button" class="btn btn-secondary mt-1 mb-1" @onclick="OnReveal">Reveal</button>
                            }
                            else
                            {
                                <button class="btn btn-primary mt-1 mb-1" @onclick="NextRound">Next</button>
                            }
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>